.gradle
.settings
bin
build
.classpath
gradlew
gradlew.bat
conf
eclipse
gradle
libs
.project
build.gradle
equi3ae.iml
equi3ae.ipr
equi3ae.iws
out/
scr.rar
lib/
scr/main/java/com/pahimar/
src/main/resources/assets/ee3/lang/en_US.lang
src/main/resources/assets/ee3/sounds.json
src/main/resources/assets/ee3/
